.slider{
    margin: auto;
    width: 900px;
    height: auto;
    border-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.slider:hover{
    cursor: pointer;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}
/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 900px;
    margin-top: -170px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(205, 203, 200);
    padding: 5px;
    border-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background: rgb(242, 241, 240);
}
#radio1:checked ~ .first{
    margin-left: 0;   
}
#radio2:checked ~ .first{
    margin-left: -20%;   
}
#radio3:checked ~ .first{
    margin-left: -40%;   
}
#radio4:checked ~ .first{
    margin-left: -60%;   
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 900px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto>div{
    border-radius: 6px solid rgb(238, 164, 26);
    padding: 5px;
    border-radius: 6px;
    transition: 1s;
    margin-top: -130px;
    position: absolute;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(238, 164, 26);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(238, 164, 26);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(238, 164, 26);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(238, 164, 26);
}
.im {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
    height: 180px;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: -100px;
    background-color: rgb(226, 156, 26);
}
.im>div{
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 90%;
    width: 32%;
    margin-top: 8.2px;
}
.im:hover{
    cursor: pointer;
}
.im1>p{
    margin-left: 20px;
    margin-top: 10px;
    color: #fff;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular','Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.im1>p{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}
.im2{
    display: flex;
    justify-content: center;
    background-color: white;
}
.im0>img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    height: 80%;
    width: 90%;
    margin: auto;   
}
.im0>img+p{
    padding: 0px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: orange;
}
.im01>img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    height: 80%;
    width: 90%;
    margin: auto; 
}
.im01>img+p{
    font-size: 18px;
    color: orange;
    margin: auto;
    padding: 0px;
    text-align: center;
}
.im3{
    display: flex;
    justify-content: center;
    background-color: white;

}
.im3>div>img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    height: 75%;
    width: 90%;
    margin: auto;
}
.im02>img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    height: 80%;
    width: 90%;
    margin: auto;   
}
.im02>img+p{
    margin: auto;
    font-size: 18px;
    color: orange;
    padding: 0px;
    text-align: center;
}
.im03>img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    height: 80%;
    width: 90%;
    margin: auto;
}
.im03>img+p{
    margin: auto;
    font-size: 18px;
    color: orange;
    padding: 0px;
    text-align: center;
}