#homes>div{
    border-radius: 3px;
    font-family: OpenSans,Arial;
    font-size: 15px;
    padding: 0px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #666;
    line-height: normal;
    opacity: 1;
} 
#homes{
    display: flex;
    margin-left: 101px;
    color: #333; 
    font-family: OpenSans,Arial;
}
#homes>#home{
    margin-left: 10px;
    margin-top: 20px;
}
#HA{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5,260px);
    grid-template-rows: repeat(3,340px);
    gap: -10px; 
    text-align: start;
    font-size: 12px; 
}
#HA>div{
    height: 60%;
    width: 78%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 10px;
    margin-left: 32px;
    border-radius: 6px;
    margin-top: -30px;
}
h3{
    margin-top: 60px;
    font-family: OpenSans,Arial;
    font-size: 25px;
    margin-left: 140px;
    color: #666;
}
h3:hover{
    color: #ff6e26;
    cursor: pointer;
    text-decoration: underline;
}
#brand{
    margin-top: 50px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(10,130px);
    grid-template-rows: repeat(3,50px);
    gap: -20px; 
    text-align: start;
    font-size: 12px;
    
}
#brand>div{
    height: 60%;
    width: 68%;
    margin-left: 140px;
    border-radius: 1px;
    margin-top: -30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#brand>div>img{
    height: 100%;
    width:  100%;
}